<footer class="border-t border-[#e2e8f0] bg-[#f8f9fa] px-8 py-12 text-center text-[#5f6368]">
  <p>Крутится на Github Pages (денег на кубовый кластер не хватило)</p>
  <p>
    Сурсы на
    <a
      class="font-bold text-[#326ce5] hover:underline"
      href="https://github.com/misshanya/k8s-pobeda">GitHub</a
    >
  </p>
</footer>
